/*rotate animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: roatate(0);
    transform: roatate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: roatate(0);
    transform: roatate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*SunFlair animation */
@-webkit-keyframes sunflair {
  from {
    box-shadow: 0 0 50px #e0900c; }
  to {
    box-shadow: 0 0 100px #e0900c; } }
@keyframes sunflair {
  from {
    box-shadow: 0 0 50px #e0900c; }
  to {
    box-shadow: 0 0 100px #e0900c; } }
/* PLUGINS */
/* BASE STYLES */
* {
  box-sizing: border-box; }

body {
  background-color: #070814;
  background-image: url("../imgs/starsbg.png");
  color: #fefefe;
  width: 196000px; }

#container {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px; }
  #container::after {
    clear: both;
    content: "";
    display: table; }

header {
  position: fixed;
  z-index: 100; }

#footwrap {
  color: #111;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #82828a;
  z-index: 100; }

/* LAYOUTS */
.planet, #thesun, #mercury, #venus, #earth {
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  top: 50%; }

/* MODULES */
#thesun {
  width: 300px;
  height: 500px;
  margin-top: -250px;
  margin-left: -273px;
  background: #e0900c;
  box-shadow: 0 0 50px #e0900c;
  -webkit-animation: sunflair 3s infinite alternate;
  animation: sunflair 3s infinite alternate;
  left: 73px; }

/*Mercury and its moons (there are no moons) */
#mercury {
  width: 31px;
  height: 31px;
  margin-top: -15.5px;
  left: 2000px; }
  #mercury img {
    -webkit-animation: rotate 88s linear infinite reverse;
    animation: rotate 88s linear infinite reverse; }

/*Venus and its moons (there are no moons) */
#venus {
  width: 111px;
  height: 111px;
  margin-top: -55.5px;
  left: 3500px; }
  #venus img {
    -webkit-animation: rotate 121.5s linear infinite normal;
    animation: rotate 121.5s linear infinite normal; }

/*Earth and its moon */
#earth {
  width: 92px;
  height: 92px;
  margin-top: -46px;
  left: 5000px; }
  #earth img {
    -webkit-animation: rotate 0.5s linear infinite reverse;
    animation: rotate 0.5s linear infinite reverse; }

#testorbit {
  -webkit-animation: rotate 10s linear infinite reverse;
  animation: rotate 10s linear infinite reverse;
  position: relative;
  width: 120px;
  height: 120px;
  top: -105px;
  left: -15px;
  border-radius: 100%; }

#testmoon {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  left: 0;
  background: #fefefe;
  border-radius: 100%; }


